<li> 
    <p>
        <% if(locals.user && comment.user.id == locals.user.id) { %>
            <small>
                <a href="/comments/destroy/<%= comment.id %>">x</a>
            </small>
        <% } %>   
        <span>
            <%= comment.content %>
        </span>
        <br>
        <small>
            <%= comment.user.name %>
        </small>
    </p>
</li>