<footer>
    <div class="footer-title">
        <span><i class="far fa-copyright"></i></span>
        <span>Codeial. All rights reserved.</span>
    </div>
    <div class="sections">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/users/profile">Profile</a>
            </li>
        </ul>
    </div>
</footer>