<link rel="stylesheet" href="/css/sign_up_in.css">
<div class="wrapper">

    <h1 id="page-heading">Sign In</h1>

    <form action="/users/create-session" method="POST">
        <input type="email" name="email" placeholder="Enter Email" required>
        <input type="password" name="password" placeholder="Enter Password" required>
        <button type="submit">Sign In</button>
    </form>

    <p id="option">OR</p>
    <p id="google-auth"><a href="/users/auth/google"><i class="fab fa-google"></i> Sign In With Google</a></p>

</div>
