// CHANGE :: add styling for the chat box
#user-chat-box{
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 1px dashed grey;
    border-radius: 5px;
    overflow-y: scroll;
    max-height: 350px;
	width: 300px;
	background: white;
	padding: 5px;
	box-shadow: 1px 1px 1px 1px lightgrey;

    #chat-messages-list{
    	list-style: none;
	    padding: 10px;
	    height: 70%;
	    background-color: white;
	    overflow: auto;

		li{
			.message-author{
				display: block;
				font-size: 0.7em;
			}
		}

	    .other-message{
		    text-align: left;
		    padding: 5px;
		    span{
		    	display: inline-block;
	    		padding: 15px;
		    	background-color: #ffa0a0;
                border-radius: 10px 0;
		    }
		    
	    }

	    .self-message{
		    text-align: right;
		    padding: 5px;
		   
		    span{
                border-radius: 0 10px;
	    		display: inline-block;
	    		padding: 15px;
    			background-color: #a0dcff;
		    }
		   
	    }

    }
    #chat-message-input-container{
		    width: 100%;
		    display: flex;
		    flex-direction: row;

		    #chat-message-input{
	    	    height: 2rem;
                outline: none;
                border-color: lightgray;
    			width: 70%;
		    }

		    #send-message{
                height: 2.22rem;
                cursor: pointer;
                width: 5rem;
                font-size: 1em;
                color: white;
                border: none;
                background: #33ab33;
		    }
	    }
}
#user-chat-box::-webkit-scrollbar{
    display: none;
}
