header {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5em;
  align-items: center;
  background-color: black; }
  header * {
    color: white; }
  header h3 {
    margin: 0;
    font-size: 1.8em; }
  header ul {
    list-style: none;
    text-align: center; }
    header ul li {
      display: inline;
      padding: 0.5em; }
    header ul a {
      text-decoration: none; }
