body {
  font-family: sans-serif;
  margin: 0;
  text-align: center; }
  body h1, body h2, body h3, body h4, body h5, body h6, body ul {
    margin: 0; }
  body #layout-main {
    height: 100vh;
    padding: 2em 0; }
